ECONOMIC_APP_SECRET_TOKEN=
ECONOMIC_AGREEMENT_GRANT_TOKEN=
ECONOMIC_APP_PUBLIC_TOKEN=
ECONOMIC_INSTALLATION_URL=
ECONOMIC_ENABLE_WRITES=false
ECONOMIC_AUDIT_LOG=
ECONOMIC_POLICY_PATH=
MCP_HTTP_HOST=127.0.0.1
MCP_MAX_BODY_BYTES=10485760
MCP_ALLOWED_ORIGINS=
MCP_ALLOW_ANY_ORIGIN=false
MCP_HTTP_TOKEN=
